.gridBlock{
    border: 1px solid red;
    width:10vw;
    height:10vw;
}
.container{
    display:flex;
    width:40%;
    flex-flow:row wrap
}

.XIcon{
    width:90%;
    pointer-events: none;
}

.OIcon{
    width:90%;
    pointer-events: none;
}