.gridBlock{
    border: 1px solid red;
    width:10vw;
    height:10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display:flex;
    width:40%;
    flex-flow:row wrap
}

.XIcon{
    width:90%;
    pointer-events: none;
}

.OIcon{
    width:90%;
    pointer-events: none;
}
.winnerBlock{
    background-color: rgb(65, 86, 126);
    height: 50vw;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.winnerBlock p{
    background-color: rgb(129, 189, 241);
    padding: 5vw;
}
.banner{
    background-color: aquamarine;
}
.gameSelectContainer{
    display: flex;
    justify-content: space-around;
}
.centerContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}